# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
.vscode/
repo
build/generated/


# python
__pycache__/
*.py[cod]
gradle-test.log
.kotlin/
.venv/
common/logs/
fabric/run-dev/
